<h1>Trak</h1>

<p><%= link_to 'Show all track!', tracks_path %></p>
<p><%= link_to 'NEW Track', track_path([:new]) %></p><hr/>

<p><%= @track.created_at %></p>
<%= @track.pl %> |
<%= @track.truck_by %> |
<%= @track.driver_by %> |
<%= @track.perecep %> |
<%= @track.truck_rus %> |
<%= @track.driver_rus %> |
<%= @track.semi_trailer %> |
<%= @track.country %>
