<!DOCTYPE html>
<html>
  <head>
    <title>Track</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
    <div class="d-grid gap-2 d-md-flex ">
      <% if user_signed_in? %>
      Привет, <%= current_user.username %><%= button_to "Выход", destroy_user_session_path, method: :delete, class:"btn btn-secondary btn-sm"  %>
      <% else %>
      <%= button_to "Вход", new_user_session_path, class:"btn btn-secondary btn-sm"  %>
      <% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    </div>
  </div>
</div>

  </body>
</html>
